html, body {
  height: 100%;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.nav img {
  width: 20%;
  height: 20%;
}

.logo {
  margin-left: 2%;
}

.links a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.links a:hover {
  color: orangered;
  text-decoration: underline overline;
}

.logout {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 0;
  margin-right: 10px;
}

.logout:hover {
  color: orangered;
  text-decoration: underline overline;
}

.home {
  background-image: url(https://i.imgur.com/5l7nIth.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 300px;
}

.home p {
  visibility: hidden;
  margin: 0;
}

.login-auth {
  background-image: url(https://img.wallpapersafari.com/desktop/1280/1024/93/64/ebMSaW.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.register-auth {
  background-image: url(https://www.ecopetit.cat/iconpics/f/35/355266/sneaker-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.forms {
  border: 2px solid black;
  height: 40%;
  width: 30%;
  text-align: center;
  background-color: white;
}

.forms button {
  margin-top: 2%;
}
.auth-forms button {
  margin-top: 5%;
}

.preview {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.preview img {
  height: 50%;
  width: 50%;
}

.mini-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  column-gap: 10px;
  row-gap: 15px;
  width: 50%;
}

.users_nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 1%;
}

.users_nav button {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 0;
}

.users_nav button:hover {
  color: orangered;
  text-decoration: underline overline;
}

.items-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.items-box {
  border: 2px solid black;
  width: 90%;
  margin: 10px;
}

.items-box img {
  width: 50%;
}

.items-box:hover {
  border: 3px solid orangered;
}

.postForm {
  border: 2px solid black;
  width: 30%;
  text-align: center;
  background-color: white;
}

.postForm button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.createPost {
  background-image: url(https://i.pinimg.com/originals/62/e1/b0/62e1b0b90fba0a250b9b828c365149b9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.editPost {
  background-image: url(https://www.ecopetit.cat/wpic/mpic/17-178818_sneaker-backgrounds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.footer {
  text-align: center;
  height: 50px;
}