html, body {
  height: 100%;
  margin: 0;
}

.home {
  min-width: 100%;
  min-height: 100%;
}

.preview {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.preview img {
  height: 50%;
  width: 50%;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  column-gap: 10px;
  row-gap: 15px;
  width: 50%;
}

.footer {
  text-align: center;
  height: 50px;
}